div {
  /* background-color: #c8f2ef; */
}
h1 {
  color: rgb(51, 119, 245);
  font-size: 100px;
}
body {
  background-color: #26abfd;
}
hr {
  background-color: none;
  border-color: #ffffff;
  /* border-style: none;
  border-top: none; */

  border-width: 5px;
}
.welcom {
  color: #ffffff;
}
.qsee {
  color: mintcream;
}
