.upper {
  background: #f2adad;

  margin: -8px;
  height: 70px;
}
.tlines {
  position: relative;
  width: 67px;
  height: 44px;
  left: 30px;
  top: 18px;
}
/* .searchbar {
  position: absolute;
  width: 380px;

  right: 100px;
  top: 8px;
} */
.src {
  position: absolute;
  width: 380px;
  height: 40px;
  right: 270px;
  top: 15px;
}
.type {
  position: absolute;
  width: 380px;
  height: 40px;
  right: 100px;
  top: 13px;
  background: rgba(255, 255, 255, 0.58);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: #f2adad;
  cursor: pointer;
}
.home {
  background: url("homebtn.png");
  background-position: center;
  position: absolute;
  width: 65px;
  height: 65px;
  right: 3px;
  top: -5px;
  background-size: cover;
}

.profile {
  margin-top: 35px;
  position: relative;
  background: #ffe5e5;
  width: 400px;
  height: 125px;
  top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.parent {
  padding: 0;
  margin: 30px;
  width: 100px;
  height: 100px;
  text-align: center;
  /* top: 300px;
  left: 400px; */
  position: relative;
  right: 100px;
  bottom: 15px;

  border: none;
  border-radius: 50%;
  transition-duration: 0.1s;
  /* filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25)); */
}
.parent {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  background: url("qsee-parent-non-shadow.png");
  background-position: center;
  background-size: cover;
  background-color: #ff9696;
  box-shadow: inset -1px -7px 0px 4px rgba(0, 0, 0, 0.25);
}
.parent:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.8);
  box-shadow: inset -1px -3px 0px 2px rgba(0, 0, 0, 0.25);
}
.name {
  text-align: center;
  position: relative;
  left: 50px;
  bottom: 165px;
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 30px;
}
.select {
  position: relative;
  bottom: 170px;
  left: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
select {
  width: 20%;
  height: 40px;
  margin-bottom: 20px;
  background: #f5aeae;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: #f5aeae;
  box-sizing: border-box;
  /* border-radius: 40px; */
  text-align: center;
  color: #000000;
  cursor: zoom-in;
}
button {
  position: relative;

  width: 35%;
  height: 225px;
  margin: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.class {
  margin-top: 30px;
}
.class img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 10px;
}
.attendance img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 10px;
}
.psychological img {
  height: 45%;
  position: relative;
  right: 145px;
  top: 10px;
}
.grades img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 10px;
}
h1 {
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  left: 45%;
  font-family: "Baloo 2", cursive;
  font-size: 36px;
  line-height: 87px;
  margin-top: 0px;
  margin-bottom: -30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.psyh2 {
  position: absolute;
  bottom: 30%;

  left: 55%;
}
.class {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ff9696;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.class:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.attendance {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ff9696;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.attendance:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.psychological {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ff9696;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.psychological:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.grades {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ff9696;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.grades:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}

/* .psyh1 {
  position: absolute;
  margin-top: 0px;
} */
