h1 {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.bg-image {
  /* The image used */
  background-image: url("student.jpg");

  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  /* background-position: right top; */
  background-size: 100% 100%;
  flex: 1;
  height: 100%;
}
.layer {
  background-color: rgba(162, 196, 247, 0.589);
  /* background-repeat: no-repeat;
  background-position: left top; */
  background-size: 100% 100%;
  flex: 1;
  height: 100%;
}
.content {
  flex: 1;
  height: 100%;
  overflow: auto;
  text-align: center;
}
.content input {
  width: 70%;
  height: 40px;
  margin-bottom: 10px;
  background: #a9a3a3;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
  color: #fffcfc;
}
.qseestudent {
  height: 50%;
}
.content select {
  width: 70%;
  height: 40px;
  margin-bottom: 10px;
  background: #a9a3a3;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  text-align: center;
  color: #f3eeee;
}
::placeholder {
  color: #f3eeee;
}

.content button {
  text-align: center;
  height: 40px;
  width: 20%;
  box-sizing: border-box;

  background: #4b77cd;
  box-shadow: inset 0px -5px 11px 3px rgba(0, 0, 0, 0.25);
  border-radius: 88px;
  color: #fffcfc;
}
.qseestudent {
  height: 50%;
  position: relative;
  top: 20%;
  left: 25%;
}
.student {
  position: relative;
  text-align: center;
  margin-top: 10%;
  font-size: 64px;
  font-family: "Righteous", cursive;

  color: #000000;

  mix-blend-mode: normal;
}
