.upper {
  background: #ffd600;

  margin: -8px;
  height: 70px;
}
.tlines {
  position: relative;
  width: 67px;
  height: 44px;
  left: 30px;
  top: 18px;
}
.searchbar {
  position: absolute;
  width: 380px;

  right: 100px;
  top: 8px;
}
/* .src {
  position: absolute;
  width: 380px;
  height: 40px;
  right: 270px;
  top: 15px;
} */
.type {
  position: absolute;
  width: 380px;
  height: 40px;
  right: 100px;
  top: 13px;
  background: rgba(255, 255, 255, 0.58);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: #fff1a8;
  cursor: pointer;
}
.home {
  background: url("homebtn.png");
  background-position: center;
  position: absolute;
  width: 65px;
  height: 65px;
  right: 3px;
  top: -5px;
  background-size: cover;
}

.profile {
  margin-top: 35px;
  position: relative;
  background: #fff1a8;
  width: 400px;
  height: 125px;
  top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}
.teacher {
  padding: 0;
  margin: 30px;
  width: 100px;
  height: 100px;
  text-align: center;
  /* top: 300px;
  left: 400px; */
  position: relative;
  right: 100px;
  bottom: 15px;

  border: none;
  border-radius: 50%;
  transition-duration: 0.4s;
  /* filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25)); */
}
.teacher {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116);
  background: url("qsee-teacher-non-shadow.png");
  background-position: center;
  background-size: cover;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}
/* .teacher:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.8);
  box-shadow: inset -1px -3px 0px 2px rgba(0, 0, 0, 0.25);
} */
.name {
  text-align: center;
  position: relative;
  left: 50px;
  bottom: 165px;
  font-size: 36px;
  line-height: 42px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  margin-bottom: -20px;
  margin-top: 30px;
  width: fit-content;
}
.select {
  position: relative;
  bottom: 140px;
  left: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
select {
  width: 27%;
  height: 40px;
  margin-bottom: 20px;
  background: #ffd600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  /* border-radius: 40px; */
  text-align: center;
  color: #000000;
  cursor: zoom-in;
}
button {
  position: relative;

  width: 35%;
  height: 225px;
  margin: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.class {
  margin-top: 30px;
}
.class img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 50px;
}
.forum img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 50px;
}
.attendance img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 50px;
}
.grades img {
  height: 40%;
  position: relative;
  right: 145px;
  top: 50px;
}
h1 {
  color: #ffffff;
  position: relative;
  bottom: 50px;
  left: 50px;
  font-family: "Baloo 2", cursive;
  font-size: 36px;
  line-height: 87px;
  margin-top: 0px;
  margin-bottom: -30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.class {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ffd600;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.class:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.forum {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ffd600;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.forum:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.attendance {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ffd600;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.attendance:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
.grades {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  background-position: center;
  background-size: cover;
  background-color: #ffd600;
  box-shadow: inset -1px -5px 0px 2px rgba(0, 0, 0, 0.25);
}
.grades:hover {
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  transform: scale(1.06);
  box-shadow: inset -7px -13px 0px 4px rgba(0, 0, 0, 0.25);
}
