/* Rectangle 1 */
img {
  position: absolute;
  width: 100%x;
  /* height: 128px; */
}
body {
  background: "img\log in page background.jpg";

  /* position: absolute;
  width: 761px;
  height: 541px;

  background: linear-gradient(180deg, #000000 0%, #00b2ff 100%);
  border-radius: 52px; */
}
h1 {
  /* Rectangle 1 */

  /* position: absolute;
  width: 761px;
  height: 541px;

  background: linear-gradient(180deg, #000000 0%, #00b2ff 100%);
  border-radius: 52px; */
}
