/* Rectangle 1
/* img {
  position: absolute;
  width: 100%;
  height: 128px; 
} */
body {
  margin: 0px;
  padding: 0px;
  background: url("log in page background.jpg");
  background-size: cover;

  background-position: center;

  /* position: absolute;
  width: 761px;
  height: 541px;

  background: linear-gradient(180deg, #000000 0%, #00b2ff 100%);
  border-radius: 52px; */
}
.loginbox {
  /* witdth: 320px;
  height: 420px;
  width: 761px;
  height: 541px; */
  position: absolute;
  width: 509px;
  height: 507px;
  left: 321px;
  top: 97px;
  background: linear-gradient(180deg, #000000 0%, #00b2ff 100%);
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 52px;
  /* position: absolute; */
  top: 20%;
  left: 35%;
  /* position: absolute; */
  transform: translate(-50&, -50%);
  box-sizing: border-box;
  padding: 30px 50px;
  /* background: #000; */
}
.Qteelogo {
  /* qtee 1 */

  position: relative;
  width: 366px;
  height: 189px;
  /* left: 381px;
  top: 133px; */

  background: url("qtee.png");
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* width: 100px; */
  /* position: absolute;
  width: 484px;
  /* height: 265px; */
  left: calc(50% - 200px);
}
.loginbox input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.loginbox button{

    height: 30px;
}
/* h1 {
  /* Rectangle 1 */

  /* position: absolute;
  width: 761px;
  height: 541px;

  background: linear-gradient(180deg, #000000 0%, #00b2ff 100%);
  border-radius: 52px; */
} */
