* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schoolbell", cursive;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
}

.coverPhoto {
  height: 260px;
}

.samProfile {
  width: 1480px;
  position: absolute;
  z-index: 0;
  top: 135px;
  left: 70px;
  display: flex;
}

.blueprofile img {
  max-width: 200px;
}

.microphone {
  position: absolute;
  left: 1200px;
  margin-top: 50px;
  padding: 0 10px;
}

.microphone img {
  max-width: 100px;
}

.microphone img:hover {
  max-width: 110px;
  cursor: pointer;
}

.details {
  margin-top: 80px;
  margin-left: 20px;
}

.details a {
  display: block;
  text-decoration: none;
}

#name {
  color: #1b1b1b;
  font-weight: 500;
  font-size: 38px;
}

#class {
  color: #1b1b1b;
  font-weight: 100;
  font-size: 30px;
}

.content {
  margin-top: 85px;
  max-width: 1920px;
  max-height: 570px;
  display: flex;
}
.content div {
  align-items: center;
  display: inline-block;
}

.square1 {
  background: #ffacab;
  width: 480px;
  height: 570px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.square1 div {
  margin-top: 20px;
  display: block;
}

.square2 div {
  margin-top: 20px;
  display: block;
}

.square3 div {
  margin-top: 20px;
  display: block;
}

.square4 div {
  margin-top: 20px;
  display: block;
}

.square1 a {
  color: #ffacab;
  font-size: 44px;
  text-decoration: none;
}

.square2 a {
  color: #ff9b9a;
  font-size: 44px;
  text-decoration: none;
}

.square3 a {
  color: #ff8988;
  font-size: 44px;
  text-decoration: none;
}

.square4 a {
  color: #f67a79;
  font-size: 44px;
  text-decoration: none;
}

.square2 {
  background: #ff9b9a;
  width: 480px;
  height: 570px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.square3 {
  background: #ff8988;
  width: 480px;
  height: 570px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.square4 {
  background: #f67a79;
  width: 480px;
  height: 570px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.square1:hover {
  width: 800px;
  transition: 0.5s;
  color: #fff;
}

.square1:hover a {
  color: #fff;
  transition: 0.5s;
}

.square2:hover a {
  color: #fff;
  transition: 0.5s;
}

.square3:hover a {
  color: #fff;
  transition: 0.5s;
}

.square4:hover a {
  color: #fff;
  transition: 0.5s;
}

.square2:hover {
  width: 800px;
  transition: 0.5s;
}

.square3:hover {
  width: 800px;
  transition: 0.5s;
}

.square4:hover {
  width: 800px;
  transition: 0.5s;
}

.fa-bullhorn {
  font-size: 5em;
  color: #fff;
  margin-top: 200px;
}

.fa-clipboard-user {
  font-size: 5em;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 200px;
}

.fa-face-smile-wink {
  font-size: 5em;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 200px;
}

.fa-chart-pie {
  font-size: 5em;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 200px;
}

.logout {
  position: absolute;
  top: 20px;
  right: 70px;
}

.logout:hover {
  cursor: pointer;
}

.logout:hover a {
  color: #000000;
}

.fa-arrow-right-from-bracket {
  font-size: 2em;
  color: rgb(88, 88, 88);
  text-decoration: none;
}
